.clients {
  &__list {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;

    @include mq(notDesktop) {
      flex-wrap: wrap;
    }

    @include mq(desktop) {
      flex-wrap: wrap;
    }
  }

  &__item {
    margin: 15px;

    @include mq(mobile-only) {
      flex-basis: calc(100% / 2 - 30px);
    }

    @include mq(tablet-only) {
      flex-basis: calc(100% / 3 - 30px);
    }

    @include mq(desktop) {
      flex-basis: calc(100% / 6 - 30px);
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 0;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color $cubic;
  }

  &__icon {
    fill: #afb1b8;
    transition: transform $cubic;
  }

  &__flex:hover,
  &__flex:focus {
    border-color: $action-text-color;
  }

  &__flex:hover &__icon,
  &__flex:focus &__icon {
    fill: $action-text-color;

    transform: scale(1.25);
  }
}
