.footer {
  background-color: $footer-bg-color;
  line-height: 1.71;

  @include mq(mobile-only) {
    max-width: 480px;
  }

  @include mq(mobile-only) {
    max-width: 768px;
  }

  @include mq(desktop) {
    padding: 60px 0;

    max-width: 1400px;
  }

  &__flex-container {
    display: flex;
    align-items: baseline;
  }

  &__contacts-container {
    margin-right: 70px;
  }

  &__logo--white {
    color: $color-white;
  }

  &_logo--margin {
    display: block;
    margin-bottom: 20px;
  }

  &__fact-address {
    font-style: normal;
    color: $color-white;
    cursor: default;
  }

  &__contacts-link {
    color: $footer-contacts-color;

    transition: color $cubic;
  }

  &__contacts-link:hover,
  &__contacts-link:focus {
    color: $action-text-color;
  }

  // блок join

  &__join-container {
    margin-right: 93px;
  }

  &__join-title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
  }

  // список соц сетей

  &__links--margin:not(:last-child) {
    margin-right: 10px;
  }

  &__links--bg {
    background-color: $footer-links-border-bg;
  }

  // форма регистрации

  &__subscribe-title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
  }

  &__subscribe-form {
    @include mq(desktop) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__subscribe-input {
    padding: 15px 0 15px 16px;
    margin-right: 12px;

    width: 450px;

    @include mq(desktop) {
      width: 358px;
    }

    background-color: $footer-bg-color;
    color: $color-white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    transition: border $cubic;
  }

  &__subscribe-button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 29px;

    text-align: center;

    background-color: $action-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-radius: 4px;
    border: transparent;

    cursor: pointer;
  }

  &__subscribe-button:focus-visible {
    outline: none;
  }

  &__subscribe-name {
    margin-right: 10px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $color-white;

    text-align: center;
  }
}
