.hero {
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-white;

  background-repeat: no-repeat;
  background-position: center;
  background-color: $hero-bg-color;
  background-size: cover;

  padding: 118px 0;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero480.jpg");

  @include mq(retina) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero480@2x.jpg");
  }

  @include mq(tablet-only) {
    max-width: 768px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero768.jpg");

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero768@2x.jpg");
    }
  }

  @include mq(desktop) {
    padding: 200px 0;
    max-width: 1400px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero1200.jpg");

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero1200@2x.jpg");
    }
  }

  &__massage {
    @include mq(tablet) {
      font-size: 26px;
      line-height: 1.62;
    }

    @include mq(desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    margin-top: 40px;
    padding: 10px 32px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    color: $color-white;
    background-color: $action-text-color;

    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;

    transition: transform $cubic;
  }

  &__button:hover {
    transform: scale(1.15);
  }
}
