body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $primary-text-color;

  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: currentColor;

  @include mq(notDesktop) {
    font-size: 24px;
    line-height: 1.16;
  }
  @include mq(desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.section__title {
  text-align: center;

  @include mq(notDesktop) {
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
  }

  @include mq(desktop) {
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
  }
}

.section {
  padding: 60px 0;

  @include mq(desktop) {
    padding: 94px 0;
  }
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mq(mobile-only) {
    max-width: 480px;
  }

  @include mq(tablet) {
    max-width: 768px;
  }

  @include mq(desktop) {
    max-width: 1200px;
  }
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
