body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $primary-text-color;

  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: currentColor;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section__title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section {
  @media screen and (max-width: 767px) {
    padding: 60px 15px;
    width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 60px 15px;
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding: 94px;
    width: 1400px;
  }
}

.container {
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
